*{
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: larger;
    background-color: ghostwhite;
   }

#experience-label{
    margin-top: 20px;
   }